@media screen and (max-width: 600px)
{
   #conteneur_global
   {
        width: 100%;
        display: flex;
        flex-wrap: wrap-reverse;
   } 

                                         /*   partie blanche parcour     */   
                                         
                                         



   #parcour
   {
       display: flex;
       flex-wrap: wrap;
       
    }
   
    .icones_titres
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }


   #parcour .date, .intitule
   {
        padding-top: 5px;
   }

    
                                                    /*   colonne jaune     */
    
    #colonne
    {
        width: 100%;
    }
    
    #parcour article
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 5px;
        margin-top: 5px;    
    }

    .icone_loisirs
    {
        justify-content: space-between;
        width: 100%;
    }
}