
#conteneur_global
{
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    margin: auto;
    padding: 0%;
} 

                                         /*   partie blanche parcour     */   
                                         
                                         



#parcour
{
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
}
   
.icones_titres
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    margin-top: 5px;
}

.icones_titres h2
{
    text-align: center;
}




#parcour .date, .intitule
{
    padding-top: 5px;
    width: 100%;
    text-align: center;
}


#S1, #S2, #S3
{
    padding: 10px;
}


                                                    /*   colonne jaune     */
    
#colonne
{
    width: 100%;
}
    
#parcour article
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5px;
    margin-top: 5px;    
}

.icone_loisirs
{
    justify-content: space-between;
    width: 100%;
}