@media screen and (max-width: 600px)
{
   #conteneur_global
   {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        

   } 

   #conteneur_global .colonne, .parcour
   {
       width: 100%;
   }
}