@media screen and (max-width: 600px)
{
   #conteneur_global
   {
        width: 100%;
        display: flex;
        flex-wrap: wrap-reverse;
        

   } 

   #colonne
   {
       width: 100%;
   }
  
   #parcour .article_1, .article_2, .article_3
   {
       display: flex;
       flex-wrap: wrap;
   }

   .icone_loisirs
   {
       justify-content: space-between;
       width: 100%;
   }
}